.chroma {
    padding: 10px;
}
.header {
    padding-bottom: 2rem;
}
.post {
    padding-bottom: 1.5rem;
}
.content {
    padding-top: 1.5rem;
}
.post-date {
    color:dimgray;
    margin-right: 1rem;
}
.blog-description {
    color:dimgray;
}
.quote {
    font-size: inherit;
}